<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon style="color: white;">account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
    <mat-toolbar color="primary">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="user-info">
            <img [src]="userImage" alt="user-image" width="80" class="rounded mat-elevation-z6">
            <p>{{UserName}}<br>
                <small><i>{{ClientName}}</i></small>
            </p>
        </div>
    </mat-toolbar>
    <!-- <a mat-menu-item (click)="showCambiarContrasena()">
        <mat-icon>settings</mat-icon>
        <span>Cambiar Contraseña</span>
    </a> -->
    <div class="divider"></div>
    <a mat-menu-item routerLink="/login">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log out</span>
    </a>
    <!--</span>-->
</mat-menu>