<div style="height: 100%">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img mat-icon-button src="../../assets/ChepoLifeLogo10.png" style="height: 5.7vh; margin-right: 10px;">
      <span style="font-size: larger;  ">ChepoLife</span>
      <span class="radio-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]="'/home'" mat-button color="white" class="menu-items">Home</a>
        <a [routerLink]="'/historia-cultura-tradicion'" mat-button color="white" class="menu-items">Historia Cultura y
          Tradición</a>
        <a [routerLink]="'/personalidades'" mat-button color="white" class="menu-items">Personalidades</a>
        <a [routerLink]="'/turismo'" mat-button color="white" class="menu-items">Turismo</a>

        <!-- 
        <a mat-button [matMenuTriggerFor]="acercaDeMenu">Acerca de</a>
        <mat-menu #acercaDeMenu="matMenu" xPosition="after">
          <button mat-menu-item [routerLink]="'/about'">Tu Radio</button>
          <button mat-menu-item [routerLink]="'/about/volunteers'">Voluntarios</button>
        </mat-menu> -->
      </div>
      <span class="radio-spacer"></span>
      <span class="radio-spacer"></span>
      <div fxLayout="row" fxLayoutAlign="end center">
        <app-user-menu></app-user-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a [routerLink]="'/home'" mat-list-item class="hvr-grow">Home</a>
        <a [routerLink]="'/historia-cultura-tradicion'" mat-list-item class="hvr-grow">Historia Cultura y Tradición</a>
        <a [routerLink]="'/personalidades'" mat-list-item class="hvr-grow">Personalidades</a>
        <a [routerLink]="'/turismo'" mat-list-item class="hvr-grow">Turismo</a>
        <!-- 
        <a mat-list-item [matMenuTriggerFor]="acercaDeMenu" class="hvr-grow">Acerca de</a>
        <mat-menu #acercaDeMenu="matMenu" xPosition="after">
          <button mat-menu-item [routerLink]="'/about'">Tu Radio</button>
          <button mat-menu-item [routerLink]="'/about/volunteers'">Voluntarios</button>
        </mat-menu>
 -->
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>

      <mat-drawer-container class="example-container w-100 p-8 pt-0 mt--8" [hasBackdrop]="true"
        style="height: 100%; width: 100%;">
        <mat-drawer #drawer class="tune-in-drawer pr-8" mode="over" position="end">
          <!-- Here content of drawer -->
        </mat-drawer>

        <router-outlet></router-outlet>

      </mat-drawer-container>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>