/* :host
::ng-deep .ngx-datatable.bootstrap:not(.cell-selection) .datatable-body-row:hover,
:host
::ng-deep .ngx-datatable.material (.cell-selection) .datatable-row-group {
  color: white !important;
  background-color: crimson !important;
}
 */

:host ::ng-deep .datatable-body-row.active .datatable-row-group {
  background-color: lightpink !important;
}

.close-icon {
  padding: 0 14px;
}

.space-buttons {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.message {
  padding: 0 !important;
  height: 35px !important;
}

mat-card {
  padding: 8px !important;
}

.w-50 {
  width: 50%;
}

.margin {
  width: 0%;
  margin-left: 1%;
  margin-right: 1%;
}

.mat-raised-button.mat-small {
  height: 25px;
  width: fit-content;
  padding: 7px;
  margin: 0px;
  line-height: 10px !important;
  font-size: 12px;

}

// ? Merge Class pack
.merging ::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: green !important;
  border-width: 3px !important;
}


.badge>.mat-badge-content {
  margin-left: 3px;
  size: 10px;
  // padding-right: 3px;
  width: 20px;
  height: 20px;
  // border-radius: 9px;
  //right: unset !important;
  // background-color: #f03d4d; // background-color: white;
  // color: white; // color: #f03d4d;
  font-size: 9px !important;
}