<mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="'white'" maxWidth="auto" proportion="25"
  slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true" [useMouseWheel]="false"
  orientation="ltr">
  <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
    overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" style="width: 200px;">
    <!-- Left Section - Tree Menu -->
    <mat-list>
      <div mat-subheader>Folders</div>
      <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>{{folder.name}}</div>
        <div mat-line> {{folder.updated | date}} </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <div mat-subheader>Notes</div>
      <mat-list-item *ngFor="let note of notes">
        <mat-icon mat-list-icon>note</mat-icon>
        <div mat-line>{{note.name}}</div>
        <div mat-line> {{note.updated | date}} </div>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>
  <mat-sidenav opened mode="side" position="end" style="width: 200px;">End content</mat-sidenav>
  <div fxLayout="row">
    <div class="main-content">
      <div class="header hvr-grow-shadow">
        <div class="center">
          <img mat-icon-button src="../../assets/humanitarianLogo11.png" style="height: 30vh; margin-right: 10px;">
        </div>
        <br>
        <div class="center">
          <h1 [ngClass]="{'main-intro' : loader, 'main-intro-nodelay' : !loader}" style="font-size: xx-large;">
            Historia, Cultura y Tradición</h1>
        </div>

        <hr>

      </div>
      <br>
    </div>
  </div>
</mat-sidenav-container>



<br>