<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="100" fxLayout="column">
    <mat-toolbar>

        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button [mat-dialog-close]="data">
            <mat-icon>close</mat-icon>
        </button>

    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>

    <mat-card [class.bg-primary]="message.status=='primary'" [class.bg-accent]="message.status=='accent'"
        [class.bg-warn]="message.status=='warn'" *ngIf="message.show">
        {{message.text}}
    </mat-card>
    <div fxLayout="column">
        <div class="flex-p">
            <div fxLayout="column">
               <!--  <div fxLayout="row">

                    <div style="width: 75px;">
                        <mat-form-field>
                            <input matInput placeholder="DNI" formControlName="ben_DNI" appUppercase type="text">
                            <mat-error *ngIf="form.controls.ben_DNI.errors?.required">Required
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <mat-form-field class="w-90">
                        <input matInput placeholder="First Name" formControlName="ben_first_name" appUppercase
                            type="text">
                        <mat-error *ngIf="form.controls.ben_first_name.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="w-90">
                        <input matInput placeholder="Middle Name" formControlName="ben_middle_name" appUppercase
                            type="text">
                        <mat-error *ngIf="form.controls.ben_middle_name.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="w-90">
                        <input matInput placeholder="1st Last Name" formControlName="ben_last_name1" appUppercase
                            type="text">
                        <mat-error *ngIf="form.controls.ben_last_name1.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="w-90">
                        <input matInput placeholder="2nd Last Name" formControlName="ben_last_name2" appUppercase
                            type="text">
                        <mat-error *ngIf="form.controls.ben_last_name2.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="w-90">
                        <input matInput placeholder="Birthday" formControlName="ben_birthday" appUppercase type="text">
                        <mat-error *ngIf="form.controls.ben_birthday.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="w-90">
                        <input matInput placeholder="Type" formControlName="ben_beneficiary_type" appUppercase
                            type="text">
                        <mat-error *ngIf="form.controls.ben_beneficiary_type.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                    <mat-form-field class="w-90">
                        <input matInput placeholder="Community" formControlName="ben_community" appUppercase
                            type="text">
                        <mat-error *ngIf="form.controls.ben_community.errors?.required">Required
                        </mat-error>
                    </mat-form-field>



                </div> -->

                <ngx-datatable #table class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'"
                    [footerHeight]="50" [rowHeight]="45" [rows]="_suggested_duplicates"
                    [loadingIndicator]="showLoading">
                    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="true"
                        [resizeable]="false" [headerCheckboxable]="false" [checkboxable]="false">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Similarity" prop="avg_dist">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p class="w-100 pointer"> {{value * 100 | number:'1.1-1'}} %</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <!--        <ngx-datatable-column name="DNI" prop="ben_DNI">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p>
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column> -->
                    <ngx-datatable-column name="Name" prop="ben_first_name">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p class="badge" matBadge="{{row.fn_dist * 100 | number:'1.0-0'}}" matBadgeOverlap="false"
                                matBadgePosition="before" matBadgeColor="accent">
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Middle Name" prop="ben_middle_name">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p class="badge" matBadge="{{row.mn_dist * 100 | number:'1.0-0'}}" matBadgeOverlap="false"
                                matBadgePosition="before" matBadgeColor="accent">
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="1st Last Name" prop="ben_last_name1">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p class="badge" matBadge="{{row.ln1_dist * 100 | number:'1.0-0'}}" matBadgeOverlap="false"
                                matBadgePosition="before" matBadgeColor="accent">
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="2nd Last Name" prop="ben_last_name2">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p class="badge" matBadge="{{row.ln2_dist * 100 | number:'1.0-0'}}" matBadgeOverlap="false"
                                matBadgePosition="before" matBadgeColor="accent">
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Birthday" prop="ben_birthday">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p class="badge" matBadge="{{row.bd_dist * 100 | number:'1.0-0'}}" matBadgeOverlap="false"
                                matBadgePosition="before" matBadgeColor="accent">
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Type" prop="ben_beneficiary_type">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p>
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Community" prop="ben_community">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p>
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="#Act" prop="activities">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <p>
                                {{value}}</p>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>



                <div class="w-100" align="center" *ngIf="title === 'Editar'">
                    <button mat-icon-button type="button" matTooltip="Registro anterior" (click)="previous()"
                        [disabled]="previousRow">
                        <mat-icon>arrow_back</mat-icon>
                    </button>
                    <button mat-icon-button type="button" matTooltip="Siguiente registro" (click)="next()"
                        [disabled]="nextRow">
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>

                <br>

                <div mat-dialog-actions align="center">
     <!--                <button mat-raised-button color="primary" class="mat-elevation-z12" type="button"
                        [disabled]="showLoading" (click)="onSubmit(form.value);">
                        GUARDAR
                    </button> -->
                    <button mat-raised-button color="accent" class="mat-elevation-z12" type="button"
                        [disabled]="showLoading"> <!-- (click)="onSubmit(form.value, true);" -->
                        OK
                    </button>
                </div>

            </div>
        </div>
    </div>
</form>