@import '~@angular/material/theming';
@include mat-core();

$my-custom-primary-color: (50 : #e0f9f9,
    100 : #b3eff0,
    200 : #80e4e6,
    300 : #4dd9dc,
    400 : #26d1d5,
    500 : #00c9cd,
    600 : #00c3c8,
    700 : #00bcc1,
    800 : #00b5ba,
    900 : #00a9ae,
    A100 : #aafff0,
    A200 : #6cffe6,
    A400 : #53ffe2,
    A700 : #44ffdf,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$my-custom-accent-color: (50 : #fff1e9,
    100 : #ffdbc8,
    200 : #ffc3a4,
    300 : #ffab80,
    400 : #ff9964,
    500 : #ff8749,
    600 : #ff7f42,
    700 : #ff7439,
    800 : #ff6a31,
    900 : #ff5721,
    A100 : #ffffff,
    A200 : #ffecea,
    A400 : #ffd5d1,
    A700 : #ffc7c2,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));
$my-custom-warn-color: (50 : #f6f0ee,
    100 : #e9dbd4,
    200 : #dbc3b7,
    300 : #ccaa9a,
    400 : #c19885,
    500 : #b6866f,
    600 : #af7e67,
    700 : #a6735c,
    800 : #9e6952,
    900 : #8e5640,
    A100 : #ffc8c1,
    A200 : #ff9284,
    A400 : #ff7c6a,
    A700 : #ff6f5b,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    ));

$my-app-primary: mat-palette($my-custom-primary-color);
$my-app-accent: mat-palette($my-custom-accent-color, 500, 900, A100);
$my-app-warn: mat-palette($my-custom-warn-color);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);