<div class="content">
  <div style="padding: 15px;" fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Bienvenidos</mat-card-title>
        </mat-card-header>
        <div class="center">
          <img style="width: 70%;" mat-card-image src="../../../assets/humanitarianLogo11.png">
        </div>
        <mat-card-content>
          <p [ngClass]="{'main-intro' : loader, 'main-intro-nodelay' : !loader}" style="font-size: large;">
            Pronto conocerás más acerca de <b>Humanitarian Consultants. </b>
          </p>
          <p>~ Tenemos presencia en: </p>
          <p [ngClass]="{'sec-intro' : loader, 'sec-intro-nodelay' : !loader}" style="font-size: large;">
            <b>
              🇨🇷 Costa Rica
            </b> 🇨🇴 Colombia 🇵🇦 Panamá
          </p>
          <p [ngClass]="{'sec-intro' : loader, 'sec-intro-nodelay' : !loader}" style="font-size: large;">
            🇪🇨 Ecuador 🇵🇪 Perú 🇸🇻 El Salvador
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Candidate History Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <div class="center">
            <img style="width: 50%;" mat-card-image src="../../../assets/humanitarianLogo10.png">
          </div>
          <p style="font-size: larger;">
            ¡Te invitamos a formar parte de nuestro equipo!
          </p>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button color="accent" [routerLink]="'/application-form'">Registrarme</button>
          <!-- <button mat-raised-button color="primary" style="color: white;" [routerLink]="'/login'">Iniciar Sesion</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>